body {
	font: 12px Helvetica, Arial, sans-serif;
}

ul, li {
	margin:0;
	padding:0;
}

.container {
	width: 100px;
	background: #aaa;
	overflow: visible;
}

li {
	width: 100px;
	font: bold 14px Georgia, serif;
	background: #ddd;
}
